@page
<style>
    body {
        margin: 0;
        padding: 0;
    }

    div {
        height: 100%;
    }

    #container {
        display: flex;
        flex-direction: row;
    }

    #toolBar {
        width: 50px;
        background-color: #959595;
        border-start-end-radius: 5px;
        border-end-end-radius: 5px;
    }

    #toolbar-item-container {
        height: 245px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #toolbar-empty {
        height: stretch;
    }

    .toolbar-item {
        height: 50px;
        width: 50px;

        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        width: inherit;
        height: inherit;
    }

    #eraser {
        width: 45px;
        height: 45px;
        padding: 2.5px;
    }

    #line-width{
        justify-content:flex-start;
        width: auto;
    }

    .line-width-item {
        display: inline;
    }

    .image{
        width: 40px;
        height: 40px;
    }

    #workField {
        width: 100%;
        overflow: hidden;
        background-color: white;
    }

    #color-picker{
        padding: 0;
        width: 40px;
        height: 40px;
        margin: -25%;
    }

    #color-palette {
        overflow: hidden;
        margin-left: 5px;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 4px solid black;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #range {
        position: relative;
        z-index: -100;

        background-color: #95959588;

        border-radius: 5px;
        padding: 5px;

        display: flex;
        align-items: center;
        color: gray;
    }

    span{
        margin-left: 2px;
    }
</style>

<html>
<body>
    <div id="container">
        <div id="toolBar">
            <div id="toolbar-item-container">
                <div class="toolbar-item" id="drawing-tools" title="Drawing Tools" onclick="drawTool()">
                    <div class="image">
                        <img src="http://simpleicon.com/wp-content/uploads/pencil.png">
                    </div>
                </div>
                <div class="toolbar-item" id="eraser" title="Eraser" onclick="eraser()">
                    <div class="image">
                        <img src="https://icon-library.com/images/eraser-icon/eraser-icon-26.jpg">
                    </div>
                </div>
                <div class="toolbar-item" id="line-width" title="Line Width">
                    <div class="line-width-item" onclick="lineWidth()">
                        <img src="https://cdn.iconscout.com/icon/free/png-256/line-weight-1779409-1512866.png">
                    </div>
                    <div class="line-width-item" id="range">
                        <input type="range" id="width-range" name="width-range" min="5" max="50" step="5" value="5"/>
                        <span id="width-value">5</span>
                    </div>
                </div>
                <div class="toolbar-item" id="color-palette" title="Color Palette">
                    <input type="color" value="#FF0000" id="color-picker">
                </div>
                <div class="toolbar-item" id="wipe" title="Reset" onclick="sendReset(); reset();">
                    <img src="https://icons-for-free.com/download-icon-delete+24px-131985190578721347_512.png">
                </div>
            </div>
            <div id="toolbar-empty"></div>
        </div>
        <div id="workField">
            <canvas id="display-canvas"></canvas>
            <canvas id="cursor-canvas"></canvas>
            <canvas id="draw-canvas"></canvas>
        </div>

    </div>
</body>
</html>


<script src="~/js/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/draw.js" type="text/javascript"></script>

